.product-card {
  padding: 16px;
  border-radius: 8px;
  transition: all ease 150ms;
  box-sizing: border-box;
  width: 260px;
  border: 1px solid #e2e5e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4px;
}

.product-card img {
  object-fit: contain;
  height: 250px;
}
